<img src="https://images.unsplash.com/photo-1493809842364-78817add7ffb?w=1200" alt="banner-show" class="banner-show">

<div class="container">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="bloc-name rounded p-2">
        <h2><%= "#{@flat.name}" %></h2>
        <p><%=  "Address: #{@flat.address}" %></p>
      </div>
      <div class="bloc-description rounded p-2">
        <h2>A bit more about thi flat</h2>
        <p><%= "Description: #{@flat.description}" %></p>
      </div>
      <div class="bloc-price rounded p-2">
        <p><i class="fas fa-euro-sign"></i><%= " #{@flat.price_per_night}" %></p>
        <p><i class="fas fa-users"></i><%= " #{@flat.number_of_guests}" %></p>
      </div>

        <%= link_to 'Edit the flat', edit_flat_path, class: "btn-green p-3 edit-btn text-center" %>
    </div>
  </div>
</div>