<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between mb-5">
      <%= link_to 'Simple Airbnb', flats_path %>
      <form class="form-inline" action="/flats">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="query">
        <button class="btn-green">Search</button>
        <%= link_to 'Add flat', new_flat_path, class: 'btn-blue'%>
      </form>
    </nav>
    <%= yield %>
  </body>
</html>
